<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iniciar-sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header style="align-items: center; justify-content: center; text-align: center; display:flexbox ;">
            <img [src]="'assets/img/1.png'" alt="Bienvenido" style="height: auto; width: 200px;">
            <ion-card-title>
              Bienvenido
            </ion-card-title>
            <ion-card-subtitle>
              Ingresa tus datos para iniciar sesion
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formulario" (submit)="validarFormulario()">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-input formControlName="usuario" label="Ingrese su Usuario" labelPlacement="floating" fill="outline" type="text"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input formControlName="contrasenia" label="Ingrese su contraseña" labelPlacement="floating" fill="outline" type="password" > <ion-input-password-toggle slot="end"></ion-input-password-toggle> </ion-input>
                  </ion-col>
                  <ion-item>
                    <ion-label>Recordarme</ion-label>
                    <ion-toggle slot="end"></ion-toggle>
                  </ion-item> 
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button role="submit" type="submit" expand="block" [disabled]="cargando_bloqueo">
                      <ion-text *ngIf="!cargando_bloqueo">
                        Iniciar Sesion
                      </ion-text> 
                      <ion-spinner *ngIf="cargando_bloqueo" name="circular"></ion-spinner>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!--
<ion-card >
  <ion-card-header style="align-items: center; justify-content: center; text-align: center; display:flexbox ;">
    <img [src]="'assets/img/1.png'" alt="Bienvenido" style="height: auto; width: 200px;">

    <ion-card-title>
      Bienvenido
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formulario" (submit)="validarFormulario">
      <ion-item>
        <ion-label position="floating">Usuario <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" fill="solid"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password"> <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
      </ion-item>
      <ion-button block color="primary" type="submit" expand="block">
        Login
      </ion-button>
    </form>
  </ion-card-content>
</ion-card> -->